.license-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  padding: 6px 0px;
}

.license-image {
  width: min-content;
  max-width: 25%;
  height: auto;
}

.license-info {
  margin-right: 20px;
}

.license-title-name {
  font-size: 18px;
  font-weight: 800;
}

.license-title-provider {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.license-about {
  font-size: 16px;
  margin: 8px 0px;
}

.license-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: aquamarine;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  font-size: 14px;
}

.license-links {
  margin-top: 5px;
  display: flex;
}

.license-links a {
  text-decoration: none;
  color: black;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: max-content;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
}

.link-button i {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

@media only screen and (max-width: 720px) {
  .license-image {
    width: min-content;
    max-width: 40%;
  }
  .license-card {
    flex-direction: column-reverse;
  }
  .license-info {
    margin-left: 0px;
    margin-top: 10px;
  }
  .license-tags {
    max-width: 100%;
  }
}

