.license-card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}

.license-image {
  width: 40%;
}

.license-info {
  margin-right: 24px;
}

.license-title {
  font-size: 20px;
  font-weight: 600;
}

.license-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: aquamarine;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
}

.license-links {
  margin-top: 6px;
  display: flex;
}

.license-links a {
  text-decoration: none;
  color: black;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
}

.link-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

@media only screen and (max-width: 720px) {
  .license-image {
    width: 70%;
  }
  .license-card {
    flex-direction: column-reverse;
  }
  .license-info {
    margin-left: 0px;
    margin-top: 12px;
  }
  .license-tags {
    max-width: 100%;
  }
}
